* {
    box-sizing: border-box;
  }
body {
    color: black;
    margin:0;
    font-family: Helvetica;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('./sirens.jpg');
    background-size: cover;
    padding-bottom: 0;
}
 
  .header {
    
    height:60px;
    margin-top: 25px;
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    letter-spacing: .1em;
  }
  .fieldText p {
      font-size: 1.2em;
      line-height: 1.5em;
      
  }
  .buttonBox {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
#icon {
    max-height: 20px;
    max-width: 20px;
}
  
.questionScore {
    font-size: 20px;
    font-weight: 600px;
    
  }
 
  .questionScore ul {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 75px;
    border-bottom: 2px solid white;
  }

  button {
    margin-top:10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px outset;
    cursor: pointer;
  }
  input[type="radio"]{
      cursor: pointer;
  }

  button:hover {
    background:lightgrey;
  }
  
  form {
    width:60%;
    padding: 40px;
    margin:auto auto 45px auto;
    background: white;
    min-height: 300px;
    border-radius: 4px;
    border: 5px inset;
    
  }
  
  .startHeader {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
  }
  
  .question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .options ul {
    list-style: none;
    margin:0;
    text-align:left;
    
  }
  
  label {
    font-size:18px;
  }
  
  .options span {
    display:block;
    border-radius:5px;
  }
  
  .right {
   padding: 4px 8px;
   margin: 5px 20px;
   border:4px solid forestgreen;
   font-size: 1.2em;
   text-align: center;
  }
  
  .wrong {
    padding: 4px 8px;
    margin: 5px 18px;
    border:2px solid red;
    font-size: 1.2em;
  }
  #car {
      height: 45px;
      width: 45px;
  }
   .buttondiv {
      text-align: center;
  }
 .results {
   line-height: 1.2em;
   font-size: 1.5em;
   text-align: center;
 }
 @media only screen and (max-width: 520px){
  body {
    display: flex;
    flex-direction: column;
  } 
  .header {
    padding-bottom: 25px;
    font-size: 1.1em;
  }
  main {
     display: flex;
     margin: auto;
   }
   .right, .wrong {
     border: none;
   }
   .question-form .question {
    margin-bottom: 20px;
    padding: 0 1%;
    font-size: 18px;
    font-weight: 600px;
  }
  form {
    width:80%;
    padding: 10px;
    margin:auto auto 45px auto;
    background: white;
    min-height: 300px;
    border-radius: 4px;
    border: 5px inset;
    
  }
  

 }
  
 
  